.video-card{
    width: auto;
    /* padding-top: 56.25%; */
    height: 112.50%;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    transition: all 0.3s ease-out;

}

.video-card:hover {
    transform:  scale(1.3) translateY(-20px);
    z-index: 9;
    
    
    
}

.img-card{
    width: auto;
    height: auto;
    background: radial-gradient(#fffafa 50%,#fffafa 100%);
    overflow: hidden;
    position: relative;
}

.img-card img{
    width:100%;
    height: auto;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}

.img-card:hover img{
    transform:  scale(1.2) translateY(-20px);
    opacity: 0.6;
}

.img-card svg{
    width:10%;
    height: auto;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
    opacity: 1;
    transform:  scale(1.1) translateY(-20px);
    
}

.img-card:hover svg{
    transform:  scale(1.1) translateY(-20px);
    opacity: 1;
}

.img-card svg:hover{
    color:rgb(230, 59, 59);
}

.img-card span{
    
    opacity: 1 ;
    
}

.img-card:hover span{
    /* transform:  scale(1.1) translateY(-20px); */
    opacity: 1;
}

.img-card span:hover{
    color:rgb(230, 59, 59);
}


.btm-right{
    position:absolute;
    bottom: 0px;
    right: 20px;

}
.btm-left{
    position:absolute;
    bottom: 0px;
    left: 20px;

}

.stack-1{z-index: 1;}
.stack-2{z-index: 2;}
.stack-3{z-index: 3;}
.stack-4{z-index: 4;}
.stack-5{z-index: 5;}

