{% extends "layout.html"%}

{% block content%}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal"  style="font-family: 'Dancing Script', cursive;" >About</h1>
    <p class="fs-5 text-muted"  >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 align-items-stretch g-4 py-5">
    
    <div class="col">
        <div class="container border shadow">
            <div class="text-center">
                
                <img src="https://yt3.ggpht.com/2M_piaw-LiCbwTD-DlhxK4c96EoaFUXk-EQsrGlHmhamSUl9-7rnYCwfu5sMkE4u4wV6t4E1OA=s900-c-k-c0x00ffffff-no-rj" class="rounded-circle shadow mb-3 mt-4" style="width: 25%; height: 25%;">
                <h3 class="h2">Gautam Chouhan</h3>
        
                <p class="lead mb-4">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container border shadow">
            <div class="text-center">
                
                <img src="https://yt3.ggpht.com/ytc/AKedOLSp8NgEtH1Obr3bpjnEN_dzO19Z_zYmO3h6qSX7UA=s900-c-k-c0x00ffffff-no-rj" class="rounded-circle shadow mb-3 mt-4" style="width: 25%; height: 25%;">
                <h3 class="h2">Sandeep Jadam</h3>
        
                <p class="lead mb-4">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock %}

